<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      html, body {
        height: 80%;
        margin: 700;
        padding: 30;
      }
      #map {
        height: 120%;
      }
      .button {
        position: relative;
        left:400px;
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }

    .button1 {
    background-color: #3b5998;
    color: white;
    border: 2px #3b5998;
    }

  .button1:hover {
    background-color: #d3d3d3;
    color: white;
  }
  .button1:active{
    background-color: :blue;
    color: white;
  }
  p.sansserif {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
  }
  .preview_image{
      width: 300px;
    height: auto;
    border: 0px;
}
    </style>
  </head>
  <body>  
    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
      // First, create an object containing LatLng and population for each city.
      var popA = {
        Bloodworks_Northwest_Seattle: {
          center: {lat: 47.60858899999999, lng: -122.3263258},
          population: 10,
          content : "This is a test"
        },
        Bloodworks_Northwest__North_Seattle_Donor_Center: {
          center: {lat: 47.70487599999999, lng: -122.3422591},
          population: 12,
          content : "This is a test2"
        },
        Puget_Sound_Blood_Center: {

          center: {lat: 47.60850539999999, lng: -122.326414},
          population: 9,
          content : "This is a test3"
        },
        Biomat_USA: {
          center: {lat: 47.68588399999999, lng: -122.376398},
          population: 6,
          content : "This is a test4"
        }
      };
      var popB = {
      
        Interpath_Laboratory_Seattle: {
        center:
        {
        lat: 47.67441049999999,
        lng: -122.3183652
        },
        population: 2
        },
        HiveBio_Community_Lab: {
        center:
        {
        lat: 47.65901179999999,
        lng: -122.2845832
        },
        population: 14
        },


      };
      var popO = {
        Puget_Sound_Blood_Center: {
          center: {lat: 47.60850539999999, lng: -122.326414},
          population: 9
        },
         Any_Lab_Test_Now: {
        center:
        {
        lat: 47.5995323,
        lng: -122.3093699
        },
        population: 28
        },
         PACLAB: {
        center:
        {
        lat: 47.6213586,
        lng: -122.186794
        },
        population: 30
        }
      };

      var popAB = {
        PACLAB: {
        center:
        {
        lat: 47.6213586,
        lng: -122.186794
        },
        population: 30
        },
        Interpath_Laboratory_Seattle: {
        center:
        {
        lat: 47.67441049999999,
        lng: -122.3183652
        },
        population: 2
        },

        HiveBio_Community_Lab: {
        center:
        {
        lat: 47.65901179999999,
        lng: -122.2845832
        },
        population: 14
        },

        Bloodworks_Northwest_University_Lab: {
        center:
        {
        lat: 47.6657182,
        lng: -122.3011694
        },
        population: 30
        },

        Any_Lab_Test_Now: {
        center:
        {
        lat: 47.5995323,
        lng: -122.3093699
        },
        population: 28
        }
      }
      var popN = {
        PACLAB: {
        center:
        {
        lat: 47.6213586,
        lng: -122.186794
        },
        population: 30
        },
        Interpath_Laboratory_Seattle: {
        center:
        {
        lat: 47.67441049999999,
        lng: -122.3183652
        },
        population: 2
        },

        HiveBio_Community_Lab: {
        center:
        {
        lat: 47.65901179999999,
        lng: -122.2845832
        },
        population: 14
        },

        Bloodworks_Northwest_University_Lab: {
        center:
        {
        lat: 47.6657182,
        lng: -122.3011694
        },
        population: 30
        },

        Any_Lab_Test_Now: {
        center:
        {
        lat: 47.5995323,
        lng: -122.3093699
        },
        population: 28
        },
         Puget_Sound_Blood_Center: {

          center: {lat: 47.60850539999999, lng: -122.326414},
          population: 9,
          content : "This is a test3"
        },
        Biomat_USA: {
          center: {lat: 47.68588399999999, lng: -122.376398},
          population: 6,
          content : "This is a test4"
        }

      }
      var content = {
        title1 : "This is a test"
      };
var stylesArray = [
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      { "color": "#b1bdd6" }
    ]
  },{
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      { "color": "#ffffff" },
      { "weight": 0.2 }
    ]
  },{
    "featureType": "water",
    "elementType": "labels.text.stroke",
    "stylers": [
      { "color": "#a0aecc" }
    ]
  },{
    "featureType": "landscape",
    "stylers": [
      { "color": "#e8e5e5" }
    ]
  },{
    "featureType": "administrative.province",
    "stylers": [
      { "weight": 0.5 },
      { "color": "#d1d0cf" }
    ]
  },{
    "featureType": "poi.park",
    "stylers": [
      { "visibility": "on" },
      { "color": "#c5dea2" }
    ]
  },{
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      { "color": "#f3f3f2" }
    ]
  },{
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      { "visibility": "on" },
      { "invert_lightness": true },
      { "color": "#787878" }
    ]
  },{
    "featureType": "administrative.country",
    "stylers": [
      { "color": "#868686" },
      { "weight": 0.7 }
    ]
  },{
    "featureType": "administrative.country",
    "elementType": "labels.text.fill",
    "stylers": [
      { "color": "#999999" }
    ]
  },{
    "featureType": "poi.park",
    "elementType": "labels.text.stroke",
    "stylers": [
      { "color": "#ffffff" }
    ]
  },{
    "featureType": "administrative.country",
    "elementType": "labels.text.stroke",
    "stylers": [
      { "color": "#ffffff" },
      { "weight": 2.8 }
    ]
  }
];
      function initMap(arr) {
        //var json = require('./BBSEA.json');
        // Create the map.


       var image = 'drop_icon.png'
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 47.60858899999, lng: -122.32},
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          styles: stylesArray
        });
     
        for (var city in arr) {
          // Add the circle for this city to the map.
          var beachMarker = new google.maps.Marker({
            position: arr[city].center,
            map: map,
            icon:image,
            note : arr[city].content

          });
         
           
    // 3 seconds after the center of the map has changed, pan back to the
    // marker.
           var secretMessages = ["<p>http://webmd.com/bookanappoinment <br>Open: 8am-7pm</p>", "<p>http://webmd.com/bookanappoinment <br>Open: 8am-7pm</p>", "<p>http://webmd.com/bookanappoinment <br>Open: 10am-5pm</p>","<p>http://webmd.com/bookanappoinment <br>Open: 8am-6:30pm</p>"];
  
          attachSecretMessage(beachMarker, secretMessages[Math.floor((Math.random() * 3) + 0)]);
          }
        }
// Attaches an info window to a marker with the provided message. When the
// marker is clicked, the info window will open with the secret message.
          function attachSecretMessage(beachMarker, secretMessage) {
            var infowindow = new google.maps.InfoWindow({
            content: secretMessage
            });

            beachMarker.addListener('click', function() {
            infowindow.open(beachMarker.get('map'), beachMarker);
            });
          }  

          
    
          // var cityCircle = new google.maps.Circle({
          //   strokeColor: '#FF0000',
          //   strokeOpacity: 0.8,
          //   strokeWeight: 2,
          //   fillColor: '#FF0000',
          //   fillOpacity: 0.35,
   
    </script>
     <p class="sansserif" style="margin-left: 550px" >Blood Groups </p>
    <p><input type ="button" class="button button1" id="pressA" value="A"/>
    <input type ="button" class="button button1" id="pressB" value="B"/>
    <input type ="button" class="button button1" id="pressO" value="O"/>  
    <input type ="button" class="button button1" id="pressAB" value="AB"/> 
    <input type ="button" class="button button1" id="pressN" value="Dont Know"/>


    <script>
    $(document).ready(function(){           
     // Removed the unnecessary `$(function() { ...` here and the matching closing bits at the end
     $("#pressA").click(function(){
        
        initMap(popA, content);
  
      });
     $("#pressB").click(function(){
        initMap(popB, content);
        
      });
    
      $("#pressO").click(function(){
        initMap(popO, content);
        
      });

      $("#pressAB").click(function(){
        initMap(popAB, content);
        
      });
      $("#pressN").click(function(){
        initMap(popN, content);
      });
      });
</script>
    
    <script type="text/javascript" src="BBSEA.json"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPbU4AaunE7Etvh75EpqGe3nKo6a20gIs&callback=initMap">
    </script>
  </body>
     
</html>